/**
* Navigation
*/
@media screen and (min-width: 768px) {
    .nav.main-navigation {
        float: right;
        > li {
            > a {
                color: $link_color;
                font-size: 18px;
                line-height: $header_height;
                padding: 0 15px;
                border-bottom: 3px solid transparent;
            }
            &.current-menu-item,
            &.current-menu-ancestor,
            &.current-menu-parent,
            &.active,
            &:hover {
                >a  {
                    color: $link_hover_color;
                    background-color: #F6F6F6;
                    border-bottom-color: #D86838;
                }
            }
            .menu-toggle {
                display: none;
            }
            &.menu-item-has-children {
                > a {
                    &:after {
                        content: "\f0d7";
                        font-family: FontAwesome;
                        padding-left: 5px;
                    }
                }
            }
        }
        li.menu-item-has-children {
            position: relative;
            &:hover {
                > .sub-menu {
                    max-height: none;
                    margin: 0;
                    opacity: 1;
                    height: auto;
                    overflow: visible;
                }
            }
            ul {
                max-height: 0;
                height: 0;
                position: absolute;
                margin: 15px 0 0;
                padding: 0;
                z-index: 99;
                background: #F6F6F6;
                opacity: 0;
                overflow: hidden;
                @include transition(margin 200ms ease-in-out);
                li {
                    list-style: none inside;
                    min-width: 220px;
                    float: left;
                    a {
                        color: $link_color;
                        display: block;
                        padding: 10px 5px;
                        border-bottom: 1px solid #ddd;
                        @include transition(all 200ms ease-in-out);
                    }
                    &:hover > a {
                        background-color: $link_hover_color;
                        color: #FFF;
                        text-indent: 10px;
                    }
                    &.menu-item-has-children {
                        ul {
                            padding: 0;
                            left: 100%;
                            top: 0;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .navbar-header {
        .navbar-toggle {
            margin-top: 20px;
        }
    }
    .nav.main-navigation {
        li {
            position: relative;
            a {
                color: $link_color;
            }
            .menu-toggle {
                display: block;
                position: absolute;
                right: 20px;
                top: 0;
                padding: 12px 15px;
                background-color: #FFF;
                color: #333;
                cursor: pointer;
            }
            &.current-menu-item,
            &.current-menu-ancestor,
            &.current-menu-parent,
            &.active,
            &:hover {
                > a  {
                    color: $link_hover;
                    background-color: rgba(255, 255, 255, 0.1);
                }
            }
            &.menu-item-has-children {

                &.submenu-open {
                    > ul.sub-menu {
                        display: block;
                    }
                }
                ul.sub-menu {
                    margin: 0;
                    padding: 0;
                    display: none;
                    li {
                        a {
                            padding: 5px 30px;
                            display: block;
                            &:before {
                                content: '-';
                                padding-right: 5px;
                            }
                        }
                    }
                }
            }
        }
    }

    .navbar-form.search-form {
        position: relative;
        .btn-search {
            position: absolute;
            top: 10px;
            right: 7px;
        }
    }
}
/**
Sub Navigation
*/
#sub-nav {
    background-color: rgba(0, 0, 0, 0.8);
    margin-bottom: 15px;
    .menu {
        margin: 0;
        padding: 0;
        li {
            line-height: 30px;
            a {
                color: #FFF;
                display: block
            }
        }
    }
}